@font-face {
    font-family: 'Hyundai Sans Head Office';
    src: url('fonts/HyundaiSansHeadOffice-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hyundai Sans Head Office', Arial, sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f3f3f3;
}

.email-signature {
    width: 100%;
    max-width: 900px;
    background: white;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.name-title p {
    font-size: 1em;
    color: #666;
    line-height: 1;
}

.logos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.logo {
    height: 75px;
    margin-bottom: 10px;
}

.top-employer-logo {
    height: 57px;
    position: absolute;
    left: 84px;
    top: 55px;
}

.contact-info {
    font-size: 0.95em;
    color: #333;
    margin-bottom: 20px;
}

.contact-info p {
    margin: 5px 0;
}

.contact-info p strong {
    display: inline-block;
    width: 20px;
}

.footer {
    margin-top: 20px;
    text-align: center;
}

.footer-image {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.editable-input {
    border: none;
    background-color: transparent;
    font-size: 1em;
    color: #333;
    padding: 0;
    margin: 0;
}

.width-nt {
    width: 100%;  /* name-title input width */
}

.width-ci {
    width: 70%;   /* contact-info input width */
}

.editable-input:focus {
    outline: none;
    border-bottom: 1px solid #ddd;
}

.name-input {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 3px;
}

.title-input {
    font-size: 1em;
    color: #666;
    margin-bottom: 5px;
}